
.flex-container {
    display: flex;
    align-items: center; /* Alignez les éléments verticalement au centre */
    justify-content: space-between; /* Ajoutez un espacement entre les éléments */
  }
  
  .search-bar {
    margin-right: 10px; /* Ajoutez un espacement à droite de la barre de recherche */
  }
  
  .search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s ease-in-out;
  }
  
  .search-input:focus {
    border-color: #4CAF50;
  }
  
  .page-content {
    padding-left: 0px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px 12px;
    text-align: left;
  }
  
  /* Style pour les cellules paires */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  /* Ajoutez ces styles à votre fichier CSS ou dans votre balise style dans le composant */
  
  .flex-container {
    padding: 10px;
    display: flex;
    align-items: center; /* Alignez les éléments verticalement au centre */
    justify-content: space-between; /* Ajoutez un espacement entre les éléments */
  }
  
  .search-bar {
    margin-right: 10px; /* Ajoutez un espacement à droite de la barre de recherche */
  }
  
  .search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s ease-in-out;
  }
  
  .search-input:focus {
    border-color: #4CAF50;
  }
  
  .page-content {
    padding-left: 0px;
  }
  
  nav {
    display: flex;
    justify-content: center;
  }
  
  .pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .pagination li {
    margin: 0 1px;
  }
  

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  
  body {
    color: #fff;
    margin-top:150px;
    background: #949c4e;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  html,
  body {
    min-height: 100vh;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background: #fdfdfd;
    padding: 1rem;
    margin: 3rem auto;
    border-radius: 0.2rem;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
    counter-reset: pagination;
    text-align: center;
  }
  .container:after {
    clear: both;
    content: "";
    display: table;
  }
  .container ul {
    width: 100%;
  }
  
  .xlarge {
    width: 65rem;
  }
  
  
  
  
  ul, li {
    list-style: none;
    display: inline;
    padding-left: 0px;
  }
  
  li {
    counter-increment: pagination;
  }
  li:hover a {
    color: #fdfdfd;
    background-color: #1c8244;
    border: solid 1px #1d1f20;
  }
  li.active a {
    color: #fdfdfd;
    background-color: #1c8244;
    border: solid 1px #314905;
  }
  li:first-child {
    float: left;
  }
  li:first-child a:after {
    content: "Previous";
  }
  li:nth-child(2) {
    counter-reset: pagination;
  }
  li:last-child {
    float: right;
  }
  li:last-child a:after {
    content: "Next";
  }
  li a {
    border: solid 1px #d7d7d7;
    border-radius: 0.2rem;
    color: #7d7d7d;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0.9rem;
  }
  li a:after {
    content: " " counter(pagination) " ";
  }